// FOOTER
.pie{
    grid-area: footer;
    height: 140px;
    background-color:$color-fondo;
    .pie__redes{
        list-style-type: none;
        display:flex;
        flex-flow: row wrap;
        justify-content: space-evenly; 
        padding: 20px;
        a{
            color: $color-texto;
            text-decoration: none;
            font-size: 2.2rem;
            &:hover{
                color: tomato;
                text-decoration: none;
            }
        }
    }
    div{
        display:flex;
        flex-flow: row nowrap;
        justify-content: center; 
        margin-top: 20px;
        p{
            font-size: 1.4rem;
            color: $color-texto
        }
    }
}