.footer{
    .footer__rrss{
        list-style-type: none;
        display:flex;
        flex-flow: row wrap;
        justify-content: space-evenly; 
        padding: 20px;
        a{
            color: $color-texto;
            text-decoration: none;
            font-size: 2.8rem;
            &:hover{
                color: $color-orange;
                text-decoration: none;
            }
        }
    }
    div{
        display:flex;
        flex-flow: row nowrap;
        justify-content: center; 
        margin-top: 5px;
        .footer__rights{
            font-size: 1.5rem;
            color: $color-texto
        }
    }
}
/*FOOTER MOBILE*/
.footer{
    @media screen and (max-width: 414px) {
        // position: relative;
        // bottom: -42px;
        .footer__rrss {
            justify-content: space-around;
            padding:8px;
            a{
                color: $color-texto;
                text-decoration: none;
                font-size: 2.4rem;
            }
        }
        div{
            margin-top:0;
            .footer__rights{
                font-size: 12px;
            }
        }
    }
}
.footer{
    @media screen and (max-width: 360px) {
        .footer__rrss {
            a{
                font-size: 1.8rem;
            }
        }
        div{
            margin-top:0;
            .footer__rights{
                font-size: 12px;
            }
        }
    }
}