.cabecera{
    padding:30px;
    .cabecera__titulo{
        font-weight: 200;
        text-align: center;
        text-transform: uppercase;
        font-size: 4rem;
        a{
            text-decoration: none;
            color:$color-texto;
        }  
    }
    .hamburger{
        display:none;
    }
}

/*CABECERA MOBILE*/
.cabecera{
    @media screen and (max-width: 414px) {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        padding: 20px;
        transition: background-color 200ms ease-in-out;
    .cabecera__titulo{
        text-align: start;
        font-size: 2rem;
        width:200px;
        }
        span{
            letter-spacing: 2.1px;
        }
    .hamburger{
        display: block;
        }        
    }
}

.cabecera.active{
    background-color:$color-orange;
    transition: background-color 200ms ease-in-out;
}
