// MAIN
.contenido-principal{
    overflow:hidden;
    background-color: $color-fondo;
    padding: 40px 0px 40px 0px;
   .contenido-principal__subtitulo{
        font-size: 3rem;
        margin-left: 20px;
        margin-right: 20px;
        font-weight: 500;
    }
    .contenido-principal__parrafo{
        font-size: 1.6rem;
        margin-left: 20px;
        margin-right: 20px;
    }
}
.container-fluid{
  padding-left: 0px;
  padding-right: 0px; 
 }
 .row{
   margin-right: 0px;
   margin-left: 0px;
 }

// PÃGINA DE CONTACTO
.contenido-contacto{
    background-color: $color-fondo;
    height: 700px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;


  }
  .contenido-box{
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    .contenido-box__subtitulo{
      font-size: 2.2rem;
      color: tomato;
      display: flex;
      justify-content: center;
      align-items: center;

  }
}
  .centrar{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input{
    margin-bottom: 20px;
  }
  textarea{
    margin-bottom: 20px;
    resize: none;
  }
   #textoForm{
    font-size: 14px;
  } 
  label{
    font-size: 15px;
  } 
  .btn{
    color: #323232;
    background-color: #fff;
    font-size: 15px;
    border: solid 1px;
    color: tomato;
    width: 100px;
    height: 40px;
    border-radius: 40px;
    &:hover{
      background-color: tomato;
      color: #f8f6f1;
    }
  }

/* PORTFOLIO */
 .cards {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
   user-select: none;
   padding: 40px 0px 40px 0px;
 }
 
 .card-cover {
   position: relative;
   height: 800px;
 .card-cover__subtitulo{
  font-size: 3rem;
  text-transform: uppercase;
}
.card-cover__parrafo{
  font-size: 1.6rem;
}

 }
 .card-cover__background {
   width: 100%;
   height: 100%;
   object-fit: cover;
   position: absolute;
   z-index: -1;
   transition: all .3s ease-in-out;
 }
 .card-cover__body {
   display: grid;
   position: relative;
   width: 100%;
   height: 100%;
   transition: 0.5s ease;
   overflow: hidden;
   text-align: center;
   color: transparent;
   align-content: center;
   align-items: center;
   &:hover {
    background-color:rgba(255, 105, 79, 0.90);
    text-align: center;
    color: $color-fondo;
  }
  &:hover > img {
    transform: scale(1.3);
  } 
 }



