.navBar {
  .navbar__menu {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    font-size: 2rem;
    .navbar__menu__item {
      color: $color-texto;
      text-decoration: none;
      &:hover {
      color:$color-orange; 
      }
      &.active{
        color:$color-orange;
      }
    }
  }
}

/* NAV BAR MOBILE */

.navBar {
  @media screen and (max-width: 414px) {
      &:hover {
          color:$color-fondo; 
          }
          .navbar__menu {
              position: absolute;
              display: flex;
              flex-flow: column nowrap;
              justify-content: space-evenly;
              align-items: center;
              opacity: 0;
              height: 0vh;
              background-color: $color-orange;
              padding: 2px;
              transition: all ease-in-out 200ms;
                  .navbar__menu__item{
                      color:$color-fondo;
                      &:hover {
                          color:$color-fondo; 
                          }
                      &.active{
                          color:#5e5c5c;
                      }
                  }
              }
          }
      }   
.navbar__menu.active{
  position: absolute;
  height: 56vh;
  opacity:1;
  z-index:2;
  transition: all ease-in-out 200ms; 
}
