
/* NAV BAR */
nav {
    grid-area: nav;
    background-color: $color-fondo;
    padding: 15px;
    ul {
      list-style: none;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      font-size: 2rem;
      li a {
        color: $color-texto;
        text-decoration: none;
        &:hover {
        color:tomato; 
        }
      }
    }
  }
  .navbar-nav {
    width: 100%; 
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-evenly;
  }
  .navbar-light .navbar-nav .nav-link {
    color:#323232;
  }
  .navbar-light .navbar-nav .active>.nav-link  {
    color:tomato;
  }